@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");
$white: #ffffff;
$blue: #2e46e3;
$green: #20cd84;
$dark-green: #011b25;
$dark-grey: #454545;
$light-grey: #616161;
$color-grey: #f6f7f9;