.cta {
    &__card {
        height: 16rem;
        width: 26rem;
        background-color: $white;
        box-shadow: 0 0.2rem 0.3rem rgba($dark-grey, 0.3);
        border-radius: 0.3rem;
        margin-top: 2rem;
        padding: 0 1rem;
        @include respond(phone) {
            height: 20rem;
        }
    }
    &__image {
        margin: 1.3rem 1rem;
    }
    &__text-content {
        padding: 0 1rem;
    }
    &__details {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-left: -1rem;
    }
    &__icon {
        height: 1rem;
        padding: 0 0.5rem;
        margin-left: -0.25rem;
    }
    &__contact {
        height: 6rem;
        width: 26rem;
        background-color: $white;
        box-shadow: 0 0.2rem 0.3rem rgba($dark-grey, 0.3);
        border-radius: 0.3rem;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__contact-image {
        padding: 0 1rem;
        @include respond(tab-land-card) {
            height: 3rem;
        }
    }
    &__contact-text {
        flex: 0 0 auto;
        margin-right: 5rem;
    }
}