.featured {
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &__card {
        height: 25rem;
        width: 20rem;
        background-color: $white;
        box-shadow: 0 0.2rem 0.3rem rgba($dark-grey, 0.3);
        border-radius: 0.3rem;
        margin-top: 2rem;
        &-image {
            height: 13.35rem;
        }
    }
    &__text-content {
        padding: 0 1rem;
    }
    &__details {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-left: -1rem;
    }
    &__icon {
        height: 1rem;
        padding: 0 0.8rem;
    }
}

span {
    display: inline-block;
    font-size: 0.8rem;
}

.featured-ad {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__card {
        height: 18rem;
        width: 27rem;
        background-color: $dark-green;
        box-shadow: 0 0.2rem 0.3rem rgba($dark-grey, 0.3);
        border-radius: 0.3rem;
        margin: 5rem 0;
        &--invert {
            background-color: $color-grey;
        }
    }
}