.testimonial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
    &__card {
        height: 10rem;
        width: 22rem;
        background-color: $white;
        box-shadow: 0 0.2rem 0.3rem rgba($dark-grey, 0.3);
        border-radius: 0.3rem;
        margin-top: 5rem;
        &-comment {
            height: 5rem;
            background-color: $green;
            box-shadow: 0 0.5rem 1rem rgba($green, 0.5);
            margin-bottom: 1rem;
            padding: 1rem;
        }
    }
    &__card-contact {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__contact-text {
        flex: 0 0 auto;
        margin-right: 10rem;
    }
}